/* css for chip  */
/* width: Hug (71px)px;
height: Hug (23px)px;
top: 176px;
left: 8px;
padding: 4px 8px 4px 8px;
gap: 1px;
border-radius: 10px 0px 0px 0px;
opacity: 0px; */

/* css of card  width: 159px;
height: 205px;
gap: 0px;
border-radius: 10px 10px 0px 0px;
opacity: 0px;
*/

/* css of image and chip,width: 159px;
height: 205px;
gap: 0px;
border-radius: 10px 10px 0px 0px;
opacity: 0px; */

/* css of image, width: 159px;
height: 170px;
gap: 0px;
border-radius: 10px 10px 0px 0px;
opacity: 0px; */

/* entire hight of card,width: Hug (159px)px;
height: Hug (232px)px;
gap: 6px;
opacity: 0px; */



.cardSection{
    background-color: var(--color-black);
    max-width: 1440px;
    width: 100%;
}
.cardBox{
    height: 205px;
gap: 0px;
border-radius: 10px 10px 0px 0px;
opacity: 0px;
}
.chipContainer{
    background-color: var(--primary-white);
    width: 100%;
}

.bottomText{
    color: var(--primary-white);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    width: 100%;
    
}