
  
  .button {
    background-color: var(--color-black);
    color: var(--color-primary);
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 8px; /* Adjust as per design */
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .button:hover {
    cursor: pointer;
    background-color: var(--primary-white);
    color: var(--color-black);
  }
  